 <!-- formulario fecha y sueldos -->
<form>
    <div class="row">
        <!-- primer col -->
        <div class="col-md-6">
            <div class="form-group">
                <label for="SelectTipoContrato">Tipo de contrato</label>
                <select class="form-control form-control-md" id="SelectTipoContrato" name="SelectTipoContrato">
                   <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fecha de Ingreso</label>
                <input type="date"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fecha de Antiguedad</label>
                <input type="date"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Fecha de vencimiento de
                    contrato
                </label>
                <input type="date"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fecha de Planta</label>
                <input type="date"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Fecha Antiguedad en el
                    Puesto
                </label>
                <input type="date"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fecha de Nacimiento</label>
                <input type="date"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Fecha Reservada
                </label>
                <input type="date"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="selectCompaniaFS">Compañia</label>
                <select class="form-control form-control-md" id="selectCompaniaFS" name="selectCompaniaFS">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectLocalaidadesFS">Localidad</label>
                <select class="form-control form-control-md" id="selectLocalaidadesFS" name="selectLocalaidadesFS">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectDireccionesFS">Dirección</label>
                <select class="form-control form-control-md" id="selectDireccionesFS"name="selectDireccionesFS">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
        </div>
        <!-- end primer col -->
        <!-- segundo col  -->
        <div class="col-md-6">
            <div class="form-group">
                <label for="selectSubdireccionesFS">Subdirección</label>
                <select class="form-control form-control-md" id="selectSubdireccionesFS" name="selectSubdireccionesFS">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectDepartamentosFS">Departamento</label>
                <select class="form-control form-control-md" id="selectDepartamentosFS" name="selectDepartamentosFS">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectPuestosFS">Puesto</label>
                <select class="form-control form-control-md" id="selectPuestosFS" name="selectPuestosFS">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nivel Tabulador</label>
                <select class="form-control form-control-md">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectCategoriaSueldosFS">Categoria Sueldo</label>
                <select class="form-control form-control-md" id="selectCategoriaSueldosFS" name="selectCategoriaSueldosFS">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectTurnosFS">Turno</label>
                <select class="form-control form-control-md"id="selectTurnosFS" name="selectTurnosFS">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Duración Plaza</label>
                <select class="form-control form-control-md">
                        <option selected disabled>--Selecciona--</option>
                    <option value="E">Eventual</option>
                    <option value="P">Permanente</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectCvePatronalFS">Clave Registro Patronal</label>
                <select class="form-control form-control-md" id="selectCvePatronalFS" name="selectCvePatronalFS">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectCentroBenficioFS">Centro de Beneficio</label>
                <select class="form-control form-control-md" id="selectCentroBenficioFS" name="selectCentroBenficioFS">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectTipoNominaFS">Tipo de Nómina</label>
                <select class="form-control form-control-md" id="selectTipoNominaFS" name="selectTipoNominaFS">
                    <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Zona Salario Minimo</label>
                <select class="form-control form-control-md">
                    <option selected disabled>--Selecciona--</option>
                    <option value="A">Zona A</option>
                    <option value="B">Zona B</option>
                    <option value="C">Zona C</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Sueldos</h3>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Sueldo Mensual</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Sueldo Diario</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Sueldo Diario Integrado</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Integrado Sin Tope</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Parte Fija</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Parte Variable</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Factor de Integracion</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Variable Bimestre Anterior</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Dias Bimestre Anterior</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Integrado Infonavit</label>
                <input type="text"
                       class="form-control"
                       id="exampleInputEmail1" />
            </div>
        </div>
    </div>
</form>