@*@model Nomina2.Models.Response.ComboGeneralResponseDTO*@
@{

        var _ListCategory = new List<SelectListItem>();
        if (ViewBag.Select != null)
        {
            _ListCategory = (List<SelectListItem>)ViewBag.Select;
        }    



}
<!-- formulario Ubicacion -->
<form>
    <div class="row">
        <!-- primer col -->
        <div class="col-md-6">
            <div class="form-group">
                <label for="selectCategoria">Categoria</label>
                <select class="form-control form-control-md" name="selectCategoria" id="selectCategoria">                    
                    <option selected disabled>--Selecciona--</option>
                                      
                </select>
               @* @Html.DropDownList("PresentacionId", _ListCategory,"--Selecciona--", new { @class = "form-control", @required = "required" })
*@
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Estado civil</label>
                <select class="form-control form-control-md">                    
                    <option selected disabled>--Selecciona--</option>
                    <option value="S">Soltero (a)</option>
                    <option value="C">Casado (a)</option>
                    <option value="D">Divorciado (a)</option>
                    <option value="U">Union libre</option>
                    <option value="V">Viudo</option>                    
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Sexo</label>
                <select class="form-control form-control-md">                    
                    <option selected disabled>--Selecciona--</option>
                    <option value="M">Maculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">impuesto Estatal</label>
                <select class="form-control form-control-md">
                    <option selected disabled>--Selecciona--</option>
                    <option value="01">Aguascalientes</option>
                    <option value="02">Baja California</option>
                    <option value="03">Baja California Sur</option>
                    <option value="04">Campeche</option>
                    <option value="05">Coahuila</option>
                    <option value="06">Colima</option>
                    <option value="07">Chiapas</option>
                    <option value="08">Chihuahua</option>
                    <option value="09">Ciudad de México</option>
                    <option value="10">Durango</option>
                    <option value="11">Guanajuato</option>
                    <option value="12">Guerrero</option>
                    <option value="13">Hidalgo</option>
                    <option value="14">Jalisco</option>
                    <option value="15">Mexico</option>
                    <option value="16">Michoacan</option>
                    <option value="17">Morelos</option>
                    <option value="18">Nayarit</option>
                    <option value="19">Nuevo Leon</option>
                    <option value="20">Oaxaca</option>
                    <option value="21">Puebla</option>
                    <option value="22">Queretaro</option>
                    <option value="23">Quintana Roo</option>
                    <option value="24">San Luis Potosí</option>
                    <option value="25">Sinaloa</option>
                    <option value="26">Sonora</option>
                    <option value="27">Tabasco</option>
                    <option value="28">Tamaulipas</option>
                    <option value="29">Tlaxcala</option>
                    <option value="30">Veracruz</option>
                    <option value="31">Yucatan</option>
                    <option value="32">Zacatecas</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectPrestaciones">Prestaciones</label>
                <select class="form-control form-control-md" id="selectPrestaciones" name="selectPrestaciones">
                  <option selected disabled>--Selecciona--</option>
                    
                   
                </select>
            </div>
            <div class="form-group">
                <label for="selectCveContables">Clave contable</label>
                <select class="form-control form-control-md" id="selectCveContables" name="selectCveContables">
                    <option selected disabled>--Selecciona--</option>
                    @*<option>Large select</option>*@
                </select>
            </div>
            <div class="form-group">
                <label for="selectHoraios">Horario</label>
                <select class="form-control form-control-md" id="selectHoraios" name="selectHoraios">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Forma de Pago</label>
                <select class="form-control form-control-md">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectBancos">Banco</label>
                <select class="form-control form-control-md" id="selectBancos" name="selectBancos">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Sucursal Bancaria</label>
                <select class="form-control form-control-md">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Cuenta Bancaria</label>
                <select class="form-control form-control-md">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
        </div>
        <!-- end primer col -->
        <!-- segundo col  -->
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Tipo de Cuenta</label>
                <select class="form-control form-control-md">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Clabe</label>
                <select class="form-control form-control-md">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Cuenta Vales</label>
                <select class="form-control form-control-md">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Codigo Reservado 1</label>
                <select class="form-control form-control-md" id="selectCodReservado1">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectCodReservado2">Codigo Reservado 2</label>
                <select class="form-control form-control-lg" id="selectCodReservado2" name="selectCodReservado2">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectCodReservado3">Codigo Reservado 3</label>
                <select class="form-control form-control-md" id="selectCodReservado3"  name="selectCodReservado3">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectCodReservado4">Codigo Reservado 4</label>
                <select class="form-control form-control-md"  id="selectCodReservado4" name="selectCodReservado4">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectCodReservado5">Codigo Reservado 5</label>
                <select class="form-control form-control-md"  id="selectCodReservado5" name="selectCodReservado5">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectCodReservado6">Codigo Reservado 6</label>
                <select class="form-control form-control-md"  id="selectCodReservado6" name="selectCodReservado6">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectCodReservado7">Codigo Reservado 7</label>
                <select class="form-control form-control-md"  id="selectCodReservado7" name="selectCodReservado7">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectCodReservado8">Codigo Reservado 8</label>
                <select class="form-control form-control-md"  id="selectCodReservado8" name="selectCodReservado8">
                        <option selected disabled>--Selecciona--</option>
                </select>
            </div>
        </div>
    </div>
</form>